body{
  background-color: antiquewhite;
}

h1{
  float: left;
  padding-left: 18px;
  font-size: 21px;
}

ul{
  float: right;
  list-style-type: none;
}

li{
  display: inline-block;
  padding: 15px;
  padding-right: 30px;
  font-size: 15px;
  text-decoration: none;
}

.presentation{
  background-color: steelblue;
  height: 400px;
  clear: both;
  position: relative;
  }

.presentation img{


  margin-left: 100px;
  position: absolute;
  width: auto ;
  max-width: 100% ;
  height:100%;

}

span{
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  float: right;
  margin-right: 150px;
  margin-top: 100px;
  color: darkred;
}


.well img{
  width: 40%;
  float: right;
  margin-left: 2px;
}

.well{
  clear: both;
  display: block;
}

.jumbotron{
  background-color: steelblue;
}

@media screen and (max-width:1080px) {


  .presentation img{
    float: left;
    margin: 0;
  }
  span{
    margin-right: 30px;
  }
}

@media screen and (max-width:860px) {
span{
  z-index: 100;
  position: absolute;
  margin-left: 300px;
  margin-top: 100px;
}
}

@media screen and (max-width:530px) {
span{
  z-index: 100;
  position: absolute;
  margin-left: 100px;
  margin-top: 250px;
}
}
